body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:504px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:123px;
  width:837px;
  height:504px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:200px;
  width:388px;
  height:60px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:599px;
  width:169px;
  height:22px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:845px;
  width:61px;
  height:19px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  line-height:20px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:873px;
  width:375px;
  height:88px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  line-height:20px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:367px;
  word-wrap:break-word;
}
#u780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:691px;
  width:61px;
  height:19px;
  font-family:'Microsoft Tai Le Bold', 'Microsoft Tai Le';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#1E1E1E;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  line-height:20px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:719px;
  width:375px;
  height:88px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  line-height:20px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:367px;
  word-wrap:break-word;
}
#u782 {
  position:fixed;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  overflow:hidden;
}
#u782_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u782_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  text-align:left;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:6px;
  width:1900px;
  word-wrap:break-word;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:375px;
  width:11px;
  height:11px;
  font-size:9px;
  color:#FFFFFF;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:355px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:684px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:720px;
  width:21px;
  height:20px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:744px;
  width:21px;
  height:18px;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:784px;
  width:17px;
  height:17px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:845px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:83px;
  width:101px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:83px;
  width:142px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:504px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:123px;
  width:837px;
  height:504px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:200px;
  width:388px;
  height:60px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:1650px;
  top:599px;
  width:169px;
  height:22px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:504px;
  background:inherit;
  background-color:rgba(188, 188, 188, 0.517647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:123px;
  width:837px;
  height:504px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:214px;
  width:454px;
  height:215px;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:250px;
  width:364px;
  height:32px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:294px;
  width:364px;
  height:38px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#D7D7D7;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:1323px;
  top:311px;
  width:79px;
  height:16px;
  font-size:13px;
  color:#D7D7D7;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:375px;
  width:93px;
  height:32px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:1571px;
  top:375px;
  width:93px;
  height:32px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:1050px;
  width:375px;
  height:68px;
  font-size:14px;
  line-height:20px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:367px;
  word-wrap:break-word;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:1019px;
  width:136px;
  height:21px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1013px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
